.events {
  padding-top: 140px 0 100px;

  &__listing {
    margin-bottom: 100px;
  }  

  &__wrapper-more {
    margin: 70px 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  &__more {
    padding-bottom: 30px;
    color: inherit;
    text-decoration: none;
  }

  &__arrow {
    transform: rotate(90deg);
  }

  &__services {
    .container;
    margin-bottom: 50px;
  }

  &__services-description {
    top: 0;
    max-width: 870px;
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: @black;    
  } 
}