.main-header {
    padding: 100px 0;
    
  &__title,
  &__text {
    text-align: center;
    font-family: @font2;
    font-weight: 400;
    font-size: 45px;
    line-height: 57.6px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  &__title {
    margin: 0 0 70px;
  }
  
  &__text {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
  }
  
  &__picture {
    display: block;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
  }
  
  &__picture::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 16.927%;
  }
  
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__choice {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px; 
  }

  &__button {
    max-width: 624px;
    margin: auto;
    display: flex; 
    flex-shrink: 0;   
    align-items: center;
    justify-content: space-between; 
    padding-left: 20px;
    padding-right: 20px; 

    @media @bw1340 {
      max-width: 604px;
    }

    @media @bw768 {
      max-width: 566px;
    }

    @media @bw600 {
      max-width: 280px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      flex-direction: column-reverse;  
    }
  }

  &__choice-title {
    font-family: @font2;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: @black;
    margin: 100px 0 45px;
    margin-left: 27px;

    @media @bw768 {
      margin: 75px 0 45px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20.48px;
      text-align: center;
      margin-left: 33px;
    }

    @media @bw600 {
      margin: 40px 0 25px;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      text-align: center;    
    }
  }

  &__btn-event {
    align-items: center;
    justify-content: center;
    flex-shrink: 0;   
    background-color: @red;
    width: 272px;
    height: 52px;
    font-family: @font1;
    color: @white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    border: none;

    @media @bw768 {
    }

    @media @bw600 {
      width: 280px;
      height: 49px;
    }
  }

  &__btn-rent {
    align-items: center;
    justify-content: center;
    flex-shrink: 0;   
    width: 246px;
    height: 52px;
    font-family: @font1;
    color: @black;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    @media @bw768 {
      width: 238px;
      height: 52px;
    }

    @media @bw600 {
      margin-bottom: 25px;
      width: 280px;
      height: 49px;
    }
  }
}
  